body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1F2937;
}

header {
    padding: 0 40px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB
}

/* Section One */

.main-one {
    display: flex;
    padding: 30px 40px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.imgContainer {
    flex-basis: 50%;
    margin-left: 12px;
}

img {
    height: 200px;
    width: 310px;
}

.main-title {
    font-size: 48px;
    margin: 0;
}

.main-subtext {
    margin: 0;
}

.mainBtn {
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882f6;
}


/* .main-one {
    
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    border: solid blue 4px;
}


.hero {
    border: solid red 4px;
}

.imgOne {
    border: solid green 4px;
} */



/* Section  Two */
/*
.main-two {
    border: solid red 4px;
}

.title-two {
    border: solid blue 4px;
}

.container {
    border: solid green 4px;
}

.main-three {
    border: solid red 4px;
}

.text {
    border: solid blue 4px;
}

.quote {
    border: solid green 4px;
}

.main-four {
    border: solid red 4px;
}

.fourTitle {
    border: solid blue 4px;
}

.fourText {
    border: solid green 4px;
}

.fourBtn {
    border: solid red 4px;
}

.footer {
    border: solid blue 4px;
}

*/