* {
    outline: 2px solid red;
}

body {
    background-color: aquamarine;
    margin: 0;
}



/* Hero section*/
/* Hero Header */
header {
    padding: 20px 140px;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    background-color: #1f2937;
    font-weight: bold;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 50px;
}



/* Quote section */